body {
	font-family: 'ABeeZee', sans-serif;
	display: block;
	background: #1CE2E2;
	min-width: 264px 657px;
    min-height: 264px 657px;
}

h1 {
	text-align: center;
}

h2 {
	position: relative; top: 350px;
	position: relative;text-align: center;
}

.ut {
	position: relative;left: 43%;
}
.btn {
	position: relative;left: 43%;
}

img {
	width: 140px;
	position: relative;left: 19%;
}
input {
	position: relative;left: 42.5%;
	position: relative;top: 50px;
}
button {
	position: relative; left: 39%;	
	position: relative;top: 50px;
	padding: 10px 7px;
	background: none;
	border-radius: 24px;
	border: 2px solid blue;
}

h3 {
	position: relative;left: 47.5%;
	position: relative;top: 60px;
	font-family: 'ABeeZee', sans-serif;
}
input {
	border:0;
	background: none;
	text-align: center;
	border: 2px solid blue;
	width: 200px;
	padding: 10px 7px;
	outline: none;
	color: black;
	border-radius: 24px;
	transition: 0.25s;
	position: relative; left: 39%;
}


button:hover {
	transition: 0.3s;
	border-color: red;
}

input:hover {
	transition: 0.3s;
	border-color: red;
}



